##Entender la logica
compile_files.py
contents_summary_4502.txt
contents_summary.txt
.agents
.windsurf

.venv/
venv/
__pycache__/
.DS_Store
*.jks
.vscode

# Variables de entorno — nunca versionar
.env
.env.*

#mobile
.angular/
node_modules/

#archivosprueba
coverage
dist
#cypress
reports/
videos/
# Coverage reports
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
screenshots/