.footer {
  margin-top: 40px;
  padding: clamp(22px, 0.4vw, 22px) clamp(14px, 2.2vw, 28px)
    clamp(10px, 1.2vw, 16px) clamp(14px, 2.2vw, 28px);
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 160px;
}

.footer p {
  margin: 4px 0;
  color: #6b7280;
  font-size: 14px;
}

.copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #9ca3af;
  font-size: 13px;
}
