<nav class="navbar">
    <div class="navbar-left">
        <a routerLink="/" class="logo"><strong>TravelHub</strong></a>
    </div>

    <div class="navbar-center">
        <div class="search-bar">
            <span>Comienza tu búsqueda</span>
            <button class="search-btn">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
            </button>
        </div>
    </div>

    <div class="navbar-right">
        <div class="lang-currency">
            <div class="option-group">
                <svg class="icon small" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                    </path>
                </svg>
                <span class="option text-link">Español (SP)</span>
            </div>
            <div class="option-group">
                <span class="font-bold">$</span>
                <span class="option text-link">USD</span>
            </div>
            <div class="option-group">
                <svg class="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9">
                    </path>
                </svg>
            </div>
        </div>

        <div class="user-menu-wrapper">
            <button class="user-menu-btn" (click)="toggleDropdown($event)">
                <svg class="hamburger" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
                <div class="avatar">
                    <svg fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
            </button>

            @if (isDropdownOpen) {
            <div class="dropdown-menu" data-testid="navbar-dropdown">
                @if (authService.isAuthenticated$ | async) {
                <a class="dropdown-item" (click)="logout()" data-testid="btn-logout">Cerrar sesión</a>
                } @else {
                <a class="dropdown-item">Registrarse</a>
                <a routerLink="/login" class="dropdown-item" (click)="isDropdownOpen=false">Iniciar sesión</a>
                }
            </div>
            }
        </div>
    </div>
</nav>