NGINX_PUBLISHED_PORT=5001
AUTHSERVICE_SECRET_KEY=dev-secret-key
BOOKING_CATALOG_SERVICE_URL=http://travelhub-catalog:8000
SEARCH_REPOSITORY_TYPE=postgres

AUTHSERVICE_DB_HOST=replace-with-auth-rds-host
AUTHSERVICE_DB_PORT=5432
AUTHSERVICE_DB_NAME=authservice_db
AUTHSERVICE_DB_USER=travelhub
AUTHSERVICE_DB_PASSWORD=replace-with-auth-password

CATALOG_DB_HOST=replace-with-catalog-rds-host
CATALOG_DB_PORT=5432
CATALOG_DB_NAME=catalog_db
CATALOG_DB_USER=travelhub
CATALOG_DB_PASSWORD=replace-with-catalog-password

BOOKING_DB_HOST=replace-with-booking-rds-host
BOOKING_DB_PORT=5432
BOOKING_DB_NAME=booking_db
BOOKING_DB_USER=travelhub
BOOKING_DB_PASSWORD=replace-with-booking-password

SEARCH_DB_HOST=replace-with-search-rds-host
SEARCH_DB_PORT=5432
SEARCH_DB_NAME=search_db
SEARCH_DB_USER=travelhub
SEARCH_DB_PASSWORD=replace-with-search-password
